@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&display=swap');

html,body {
    font-family: 'Inter', sans-serif;
}

li.toctree-l1 {
    list-style: '> ';
    margin: 0.2rem 0;
}

.toctree-wrapper.compound li.toctree-l1 {
    margin: 1rem 0;
}
a {
    text-decoration: none;
     color: #82a8ff;
}


/**/